*{
    margin: 0;
}

footer {
    background-color: rgb(36, 36, 36);
    height: 150px;
    text-align: center;
    color: white;
    margin-bottom: 0px;
}

.effect {
    transition: transform 0.1s, filter 0.1s;
    margin: 10px;
}

.effect:hover {
    /* 이미지 어두운 효과 */
    filter: brightness(0.7);
    /* 이미지 크기 확대 효과 */
    transform: scale(1.1);
}

.effect_table {
    transition: transform 0.1s, filter 0.1s;
    margin: 10px;
}

.effect_table:hover {
    filter: brightness(1.15);
    transform: scale(1.05);
}
.img_container{
    display: flex;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

.change_color:hover{
    color: red;
}